* {
  padding: 0;
  margin: 0;
}

.goods-list {
  width: 770px;
  margin: 0 auto;
  /* 把div元素划分成两列： */
  column-count: 2;
  /*固定列间隙为19px*/
  column-gap: 19px;
}

.goods-item {
  width: 375px;
  height: 100%;
  box-sizing: border-box;
  break-inside: avoid;
  box-shadow: 0 0 8px #ccc;
  border-radius: 4px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.goods-item:nth-child(n+2) {
  margin-top: 30px;
}

.goods-list .goods-item img {
  width: 100%;
}

[v-cloak] {
  display: none !important;
}

.goods-list .goods-item .day {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px 0 4px 0;
  background-color: blue;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}

.goods-list .goods-item .title,
.now {
  font-weight: 500;
  font-size: 12px;
  padding-left: 12px;
}

.goods-list .goods-item .info .p {
  margin: 0;
  padding: 5px;
}

.goods-list .goods-item .info .price .old {
  font-weight: 300;
  font-size: 12px;
  color: #eee;
}