body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}

/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

* {
    -webkit-tap-highlight-color: transparent;
}


/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input {
    -webkit-appearance: none;
}

/*禁用长按页面时的弹出菜单*/
img,
a {
    -webkit-touch-callout: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    /* 让图片去除底下的空白缝隙 */
    vertical-align: middle;
}

div {
    /* css3盒子模型 */
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

/* 顶部 */
.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #333333;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    /* 使行内元素盒模型与其行内元素容器垂直对齐*/
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #f63515;
}

/* 搜索 */
.search-wrap {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 640px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 44px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    line-height: 44px;
}

.search {
    position: relative;
    height: 30px;
    background-color: #fff;
    margin: 0 50px;
    border-radius: 15px;
    margin-top: 7px;
}

.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.sou {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    /* 二倍精灵图 */
    /* 在fw中缩放精灵图比例为原本的一半 */
    /* 之后根据大小测量坐标 */
    /* 设置background-size：精灵图为原本宽度的一半 */
    background: url(../images/jd-sprites.png) no-repeat -81px 0;
    background-size: 200px auto;
}

/* banner */
.slider img {
    width: 100%;
}

/* 品牌日 */
.brand {
    overflow: hidden;
    /* 切的是盒子的圆角，没有影响到图片，故加上overflow:hidden; */
    border-radius: 10px 10px 0 0;
}

.brand div {
    float: left;
    width: 33.33%;
}

.brand div img {
    width: 100%;
}

/* nav */
nav {
    padding-left: 5px;
}

nav a {
    width: 20%;
    float: left;
    text-align: center;
}

nav a img {
    width: 40px;
    margin: 10px 0;
}

nav a span {
    display: block;
}

/* 新闻模块 */
.news {
    margin-top: 20px;
}

.news a {
    float: left;
    /* css3盒子模型 */
    box-sizing: border-box;
}

.news img {
    width: 100%;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(2),
.news a:nth-child(3) {
    width: 25%;
    border-left: 1px solid #ccc;
}

/* n+2 就是从从2个往后面选 */
/* .news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
} */